@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

$r : 24px;  // glow radius
$o : 11px;  // glow offset
$d : 2s;    // duration
$chars : 7; // # of letters
$bg : rgb(12, 10, 21); // background color

$c : rgb(255, 0, 183) rgb(248, 193, 90) rgb(255, 234, 71);
$z : rgb(255, 248, 54) rgb(85, 0, 255) rgb(245, 79, 50);

.playGuitar {
		width: 60px;
	height: 60px;
	background	: url('play.svg') ;
	background-position: center;
	background-size: cover;
	border: none;
	position: absolute;
	left:48%;
	bottom: 26%;
	display: none;
	span {
		position: absolute;
		left: -60px; 
		bottom: -110px;
		font-size: 36px;
	}
}

canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
    box-shadow: 0px 0px 15px #ccc;
}
div.btnbg:hover{
    text-shadow: 0px 0px 3px #ccc;
    box-shadow: 0px 0px 20px #ccc;
}

#noch {
	position: absolute;
    top: 77%;
    opacity: 0.07;
	display: none;
}
body {
	font: 64px/1 'Caveat', cursive;
	display: flex; 
	align-items: center;
	justify-content: center;
    flex-flow: wrap;
	height: 100vh;
	text-align: center;
	background: $bg;
	color: snow;

	#line-one {
		position: absolute;
		min-width: 100%;
		height: 0;
	}
}
.typed-cursor {
	display: none;

    animation: glowN $d ease-in-out both infinite;	
    opacity: 1;
    -webkit-animation: blink 1  s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;

	@for $i from 1 through $chars {
		&:nth-child(#{$i}) {
			animation-delay: $i/$chars * -$d;
		}
	}
}
@keyframes blink{
    0% { opacity:1; 	}
    50% { opacity:0;}
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; 	}
    50% { opacity:0;}
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; 	}
    50% { opacity:0;}
    100% { opacity:1; }
}
span {
	animation: glow $d ease-in-out both infinite;	

	@for $i from 1 through $chars {
		&:nth-child(#{$i}) {
			animation-delay: $i/$chars * -$d;
		}
	}
}

@mixin glowN($z1, $z2, $z3) {
	text-shadow:
		0 0 $r/6 snow,
		0 (-$o) $r $z3,
		(-$o) $o $r $z2,
		$o $o $r $z3;
}

@keyframes glowN {
	0%, 100% {
		@include glowN(nth($z, 1), nth($z, 2), nth($z, 3));	
	}
	33% {
		@include glowN(nth($z, 2), nth($c, 3), nth($z, 1));
	}
	66% {
		@include glowN(nth($z, 3), nth($z, 1), nth($z, 2));
	}
}


@mixin glow($c1, $c2, $c3) {
	text-shadow:
		0 0 $r/6 snow,
		0 (-$o) $r $c3,
		(-$o) $o $r $c2,
		$o $o $r $c3;
}

@keyframes glow {
	0%, 100% {
		@include glow(nth($c, 1), nth($c, 2), nth($c, 3));	
	}
	33% {
		@include glow(nth($c, 2), nth($c, 3), nth($c, 1));
	}
	66% {
		@include glow(nth($c, 3), nth($c, 1), nth($c, 2));
	}
}