@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
.playGuitar {
  width: 60px;
  height: 60px;
  background: url("play.svg");
  background-position: center;
  background-size: cover;
  border: none;
  position: absolute;
  left: 48%;
  bottom: 26%;
  display: none;
}

.playGuitar span {
  position: absolute;
  left: -60px;
  bottom: -110px;
  font-size: 36px;
}

canvas {
  padding: 0;
  margin: 0;
}

div.btnbg {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 0px 15px #ccc;
          box-shadow: 0px 0px 15px #ccc;
}

div.btnbg:hover {
  text-shadow: 0px 0px 3px #ccc;
  -webkit-box-shadow: 0px 0px 20px #ccc;
          box-shadow: 0px 0px 20px #ccc;
}

#noch {
  position: absolute;
  top: 77%;
  opacity: 0.07;
  display: none;
}

body {
  font: 64px/1 'Caveat', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  height: 100vh;
  text-align: center;
  background: #0c0a15;
  color: snow;
}

body #line-one {
  position: absolute;
  min-width: 100%;
  height: 0;
}

.typed-cursor {
  display: none;
  -webkit-animation: glowN 2s ease-in-out both infinite;
          animation: glowN 2s ease-in-out both infinite;
  opacity: 1;
  -webkit-animation: blink 1  s infinite;
  animation: blink 1s infinite;
}

.typed-cursor:nth-child(1) {
  -webkit-animation-delay: -0.28571s;
          animation-delay: -0.28571s;
}

.typed-cursor:nth-child(2) {
  -webkit-animation-delay: -0.57143s;
          animation-delay: -0.57143s;
}

.typed-cursor:nth-child(3) {
  -webkit-animation-delay: -0.85714s;
          animation-delay: -0.85714s;
}

.typed-cursor:nth-child(4) {
  -webkit-animation-delay: -1.14286s;
          animation-delay: -1.14286s;
}

.typed-cursor:nth-child(5) {
  -webkit-animation-delay: -1.42857s;
          animation-delay: -1.42857s;
}

.typed-cursor:nth-child(6) {
  -webkit-animation-delay: -1.71429s;
          animation-delay: -1.71429s;
}

.typed-cursor:nth-child(7) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span {
  -webkit-animation: glow 2s ease-in-out both infinite;
          animation: glow 2s ease-in-out both infinite;
}

span:nth-child(1) {
  -webkit-animation-delay: -0.28571s;
          animation-delay: -0.28571s;
}

span:nth-child(2) {
  -webkit-animation-delay: -0.57143s;
          animation-delay: -0.57143s;
}

span:nth-child(3) {
  -webkit-animation-delay: -0.85714s;
          animation-delay: -0.85714s;
}

span:nth-child(4) {
  -webkit-animation-delay: -1.14286s;
          animation-delay: -1.14286s;
}

span:nth-child(5) {
  -webkit-animation-delay: -1.42857s;
          animation-delay: -1.42857s;
}

span:nth-child(6) {
  -webkit-animation-delay: -1.71429s;
          animation-delay: -1.71429s;
}

span:nth-child(7) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

@-webkit-keyframes glowN {
  0%, 100% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #f54f32, -11px 11px 24px #5500ff, 11px 11px 24px #f54f32;
  }
  33% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #fff836, -11px 11px 24px #ffea47, 11px 11px 24px #fff836;
  }
  66% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #5500ff, -11px 11px 24px #fff836, 11px 11px 24px #5500ff;
  }
}

@keyframes glowN {
  0%, 100% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #f54f32, -11px 11px 24px #5500ff, 11px 11px 24px #f54f32;
  }
  33% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #fff836, -11px 11px 24px #ffea47, 11px 11px 24px #fff836;
  }
  66% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #5500ff, -11px 11px 24px #fff836, 11px 11px 24px #5500ff;
  }
}

@-webkit-keyframes glow {
  0%, 100% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #ffea47, -11px 11px 24px #f8c15a, 11px 11px 24px #ffea47;
  }
  33% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #ff00b7, -11px 11px 24px #ffea47, 11px 11px 24px #ff00b7;
  }
  66% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #f8c15a, -11px 11px 24px #ff00b7, 11px 11px 24px #f8c15a;
  }
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #ffea47, -11px 11px 24px #f8c15a, 11px 11px 24px #ffea47;
  }
  33% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #ff00b7, -11px 11px 24px #ffea47, 11px 11px 24px #ff00b7;
  }
  66% {
    text-shadow: 0 0 4px snow, 0 -11px 24px #f8c15a, -11px 11px 24px #ff00b7, 11px 11px 24px #f8c15a;
  }
}
/*# sourceMappingURL=style.css.map */